@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* #### Framework #### */

html,body{
    height: 100%;
}

.max-width{
    width: 100%;
    min-height: auto;
}

.bg{
    background: url('image/bg-2.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg2{
    background: url('image/bg-4.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.text-gd{
    font-size: 72px ;
}

.text-md{
    font-size: 42px;
}

.text-pq{
    font-size: 20px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

.color-azul{
    color: #1B3B56;
}

.color-azul-1{
    color: #5271FF;
}

.color-cinza-2{
    color: #545454;
}

.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.square{
    width:95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}

img{
    width: 70%;
    object-fit: contain;
}

button{
    padding: 10px 20px;
    background: #1B3B56;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
}

button:hover{
    border: 1px solid #8B634A;
    background: #8B634A;
    color: #fff;
    transform: scale(1.10);
}

.content{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    text-shadow: 0 0 10px #545454;
    color: #2B2B2B;
}
.line{
    width: 80%;
    height: 2px;
    background: #17203F;
    position: relative;
    top: 40px;
}

.text-titulo{
    position: relative;
    top: -10px;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: 18px;
    background: #8B634A;
    color: #fff;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 300px;
}

.box{
    width: 20%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
    transition: 0.5s ease;
}

.info{
    display: flex;
}

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background:#C3BCB7;
}

.logo{
    background: url('image/logo-roupa.png') no-repeat;
    background-size: contain;
    width: 130px;
    height: 80px;
    position: relative;
    top: 20px;
    z-index: 9;
}

#back-to-top {
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    background: #8B634A;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #fff;
}
  
body::-webkit-scrollbar-thumb {
    background-color:#2B2B2B;
    border-radius: 20px;
    border: 1px solid #fff;
}

/* #### desktop-menu #### */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    color:#17203F;
    text-shadow: 0 0 5px #848790;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}

.desktop-menu ul li a:hover{
    color:#8B634A;
    text-shadow: 0 0 5px #8B634A;
    font-weight: 400;
    text-decoration: underline;
}

/* #### mobile-menu #### */

.mobile-menu{
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #C3BCB7;
    display: none;
}

.mobile-menu i{
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
}

.mobile-menu ul{
    display: block;
    text-align: center;
}

.mobile-menu ul li{
    list-style-type: none;
    padding: 10px 0;
}

.mobile-menu ul li a{
    text-decoration: none;
    font-weight: 600;
    color:#17203F;
    text-shadow: 0 0 5px #848790;
}

.mobile-menu ul li a:hover{
    color:#8B634A;
    text-shadow: 0 0 5px #8B634A;
    font-weight: 500;
    text-decoration: underline;
}

/* #### Fim do Framework #### */

/* #### Header #### */

header .container{
    flex-direction: column;
    justify-content: flex-start;
}

header .left{
    flex-direction: column;
    align-items: flex-start;
}

header .left h1{
    text-align: start;
    font-weight: 400;
    text-shadow: 0 0 5px #848790;
    padding: 0 40px;
}

header .left p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #848790;
    margin-top: 60px;
    padding: 0 40px;
}

header button{
    margin-top:60px;
    margin-left: 40px;
}

header .right .imagem{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 1s ease;
}

header .right .imagem img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 60px;
}

/* #### Fim do Header #### */

/* #### About ####*/
#About .container{
    flex-direction: column;
    align-items: flex-start;
}

#About .titulo h2{
    font-family: 'Monserrat Alternates', sans-serif;
}

#About .box{
    box-shadow: 0 5px 20px #2B2B2B;
    background: transparent;
    margin-bottom: 128px;
}

#About .box .text{
    margin-right: 80px;
}

